<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
<% if user1_signed_in? %>
Signed in as <%= current_user1.email %>. Not you?
<%= link_to "Sign out", destroy_user1_session_path, method: :delete %>
<% else %>
<%= link_to "Sign up", new_user1_registration_path %> or <%= link_to "sign in", new_user1_session_path %>
<% end %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
